extends ../layouts/default

block content

  main.background-image  
    div.content
      h1
        a(href="http://robotmountain.co.uk")=homepage.heading
      .next-gig
        if nextGig
          span.venue=nextGig.venue 
          span.date=nextGig.date
          span.time=nextGig.time
        else
          span Blah



